<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="./styles.css" rel="stylesheet" />
    <script src="./script.js"></script>
    <title>Laine Hallot - Site</title>
  </head>
  <body class="font-mono dark:text-slate-50">
    <div
      class="w-screen h-screen overflow-scroll bg-slate-50 dark:bg-gray-950"
      x-data="page"
      x-on:scroll="handleScroll">
      <div class="w-full h-full flex flex-col justify-center">
        <div class="sticky p-6 mx-auto flex">
          <img
            src="https://avatars.githubusercontent.com/u/16855412?v=4"
            class="rounded-full h-56 w-56 hidden sm:block" />
          <div
            class="h-full p-4 flex flex-col items-center w-96 justify-center">
            <h1 class="text-2xl font-mono dark:text-slate-50">Laine Hallot</h1>
            <span>full stack developer</span>
            <a class="underline decoration-dashed text-lg" download="" href="./"
              >My resume</a
            >
          </div>
        </div>
        <div class="w-96 p-6 mx-auto text-center">
          <a
            class="animate animate-bounce underline decoration-dashed"
            href="#first"
            >More ↓
          </a>
        </div>
      </div>
      <div
        class="w-full sm:pl-96 pr-48 pt-16 flex flex-col gap-12 min-h-screen">
        <div id="first">
          <div>
            <h2 class="text-4xl mb-8">My work experience</h2>
          </div>
          <div class="flex flex-col gap-10">
            @!component('job',{
              title: "Software Developer II",
              duration: "September 2021 - April 2023",
              company: "Branding Brand",
              bulletPoints: [
                "Used React to create SaaS CMS software.",
                "Worked on Branding Brand's Flagship framework for Mobile apps in React Native.",
                "Developed ecommerce mobile apps using React Native.",
                "Worked closely with the design team to translate figma documents into actual UIs.",
                "Developed SPAs with React.",
                "Supported other teams in the company to help deliver apps for large retailers by fulfilling feature requests and helping them integrate their app code with our CMS software and its proprietary libraries.",
                "I did frontend development on marketing segmentation software that delivered content to millions of unique users per day"
              ]
            })
            @!component('job',{
              title: "Fullstack Web Developer",
              duration: "January 2020 to June 2021",
              company: "Simple Solutions FS",
              bulletPoints: [
                "Worked on a variety of projects and had responsibilities in all aspects of the software stack.",
                "Developed plugins and themes for CMSs like Wordpress andMagento",
                "Did backend programming with Laravel and NodeJs frameworkslike AdonisJS.",
                "I did Frontend work with React, jQuery+Bootstrap, orAlpineJS+Tailwind.",
                "I took over development for old codebases, updating theircode, fixing bugs, and adding new features.",
                "I did mobile app development with native JS frameworks likeIonic and React.",
                "Responsible for setting up production environments anddeploying apps with Docker."
              ]
            })
            @!component('job',{
              title: "Frontend Web Development Intern",
              duration: "July 2017 - August 2017",
              company: "Valtech NYC",
              bulletPoints: [
                "Did the frontend development for an in-store customer engagement tracker using D3 and Semantic UI.",
                "Worked on a messaging app for Android and iPhone using React Native and Firebase.",
                "Implemented UI designs from wireframes and .psd mock ups."
              ]
            })
            @!component('job',{
              title: "Programming and STEM Tutor",
              duration: "May 2019 - February 2020",
              company: "Zaniac South Miami",
              bulletPoints: [
                "Taught programming and science to k-8th students.",
                "Tailored lessons to the students level and needs.",
                "I wrote lesson plans that helped kids learn about programming in engaging ways."
              ]
            })

          </div>
        </div>
        <div class="projects">
          <div>
            <h2 class="text-4xl mb-8">My work experience</h2>
          </div>
          <div class="flex flex-col gap-10">
            @!component('article', {
              text: `Deserunt incididunt sunt consequat incididunt exercitation
        eiusmod. Dolore voluptate magna ex elit Lorem. Nostrud enim
        amet velit laborum Lorem aliqua. Elit sunt adipisicing id
        nostrud in cupidatat id sint voluptate quis consequat
        officia ipsum. Officia enim elit minim amet eiusmod velit
        incididunt eu eu ea. Anim mollit id minim elit qui eu
        velit.Deserunt incididunt sunt consequat incididunt
        exercitation eiusmod. Dolore voluptate magna ex elit Lorem.
        Nostrud enim amet velit laborum Lorem aliqua. Elit sunt
        adipisicing id nostrud in cupidatat id sint voluptate quis
        consequat officia ipsum. Officia enim elit minim amet
        eiusmod velit incididunt eu eu ea. Anim mollit id minim elit
        qui eu velit.Deserunt incididunt sunt consequat incididunt
        exercitation eiusmod. Dolore voluptate magna ex elit Lorem.
        Nostrud enim amet velit laborum Lorem aliqua. Elit sunt
        adipisicing id nostrud in cupidatat id sint voluptate quis
        consequat officia ipsum. Officia enim elit minim amet
        eiusmod velit incididunt eu eu ea. Anim mollit id minim elit
        qui eu velit.Deserunt incididunt sunt consequat incididunt
        exercitation eiusmod. Dolore voluptate magna ex elit Lorem.
        Nostrud enim amet velit laborum Lorem aliqua. Elit sunt
        adipisicing id nostrud in cupidatat id sint voluptate quis
        consequat officia ipsum. Officia enim elit minim amet
        eiusmod velit incididunt eu eu ea. Anim mollit id minim elit
        qui eu velit.Deserunt incididunt sunt consequat incididunt
        exercitation eiusmod. Dolore voluptate magna ex elit Lorem.
        Nostrud enim amet velit laborum Lorem aliqua. Elit sunt
        adipisicing id nostrud in cupidatat id sint voluptate quis
        consequat officia ipsum. Officia enim elit minim amet
        eiusmod velit incididunt eu eu ea. Anim mollit id minim elit
        qui eu velit.`,
            })            
          </div>
        </div>
        <div class="h-32"></div>
      </div>
    </div>
  </body>
</html>
